body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    line-height: 2em;
    overscroll-behavior: none;
    font-family: monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

a,
button,
input,
select {
    pointer-events: auto;
}

.lil-gui {
    z-index: 2 !important;
}

.github {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 10;
    color: white;
}

#descriptions-container {
    position: absolute;
    width: 600px; 
    height: 35em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.continue-text {
    font-weight: bold;
    text-align: center;
    padding: 10px 0; 
}

@media (max-width: 768px) {
    #descriptions-container {
        width: 90%; 
        height: auto; 
        font-size: 12px;
        padding: 10px; 
    }
}